.burger-input {
    position: fixed;

    /* To hide the checkbox from the UI */
    opacity: 0;
    transform: translate(-100%, -100%);
}

.burger-label {
    position: fixed;
    height: 2em;
    width: 2em;
    top: 1em;
    right: 1em;

    display: flex;
    flex-direction: column;
    align-items: flex-end; /* to rotate bars about flex-end (needed because of width change) */
    justify-content: space-between;

    /* z-index must be higher than nav */
    z-index: 100;
    cursor: pointer;
}

.bar-1, .bar-2, .bar-3 {
    display: block;
    width: 100%;
    height: 12%;
    
    /* TODO: Consider adding a box-shadow for colour clashes */
    background-color: #989665;

    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.bar-1 { transform-origin: right top; }
.bar-3 { transform-origin: right bottom; }

.burger-label:hover {
    opacity: 0.75;
}

nav {
    position: fixed;
    /* TODO: Certify vh + vw units for mobile browsers */
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    transform: translateX(-100%);
    z-index: 50;

    will-change: transform;
    transition: transform 0.5s;
}

nav::before {
    position: absolute;
    height: 100%;
    width: 90%;

    content: '';
    z-index: -1;
    background-color: #989665;
    
    transform-origin: bottom;
    transform: skewX(15deg) translateX(0);
}

nav a {
    font-size: 1.5em;
    color: #fff;
    margin: 0.5em 0;
    padding: 0.2em 2em;

    text-decoration: none;
}

.nav-logo {
    width: 60%;
    margin: 0.5em 2.8em;
}


/* Transitions */

[id="burger-input"]:checked ~ nav {
    transform: translateX(0);
}
[id="burger-input"]:checked + .burger-label .bar-1, [id="burger-input"]:checked + .burger-label .bar-3 {
    /* Pythagorean Theorem on a 100x100xwidth right-angled triangle */
    width: 141.42%;
}
[id="burger-input"]:checked ~ .burger-label .bar-1 {
    transform: rotate(-45deg) translateY(-50%);
}
[id="burger-input"]:checked ~ .burger-label .bar-2 {
    transform: scale(0.1);
}
[id="burger-input"]:checked ~ .burger-label .bar-3 {
    transform: rotate(45deg) translateY(50%);
}

/* TODO: Consider animating the navigation links */