* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000;
}

.jumbotron {
    /* TODO: Test with height: 100% */
    height: calc(var(--vh) * 100);
    width: 100%;
    padding: 10px;

    background-color: #fff;
}

.jumbotron-logo {
    width: 100%;
}

.jumbotron-delimiter {
    height: 5px;
    width: 100%;
    background-color: #989665;
}

.jumbotron-main-text {
    margin: 20px;
    text-align: center;
}

.jumbotron-contact-buttons {
    flex-grow: 1;

    /* background-color: orange; */
}

.phone-container, .email-container {margin: 10px;}
.phone-number, .email-address {
    height: 75px;
    width: 75vw;
    border-radius: 10px;
    padding: 10px;
    
    background-color: #989665;
    box-shadow: 0 1px 5px #989665;
}

.phone-icon, .email-icon {
    height: 100%;
}

.arrow-container {
    position: relative;
    height: 50px;
    width: 50px;

    margin: 10px;

    /* background-color: blue; */
}

.arrow {
    height: 100%;
    width: 100%;
    opacity: 0;
    background-image: url('/assets/jumbotron/down-arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 25%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

.parallax-background {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000; /* To hide incomplete edges */
}
.parallax-background img {
    /* Dirty hack to set background image height :) */
    width: 100%;
    visibility: hidden;
}

.pb-1 {
    background-image: url('../assets/parallax/Porsche 1.png');
}
.pb-2 {
    background-image: url('../assets/parallax/Porsche 2.png');
}
.pb-3 {
    background-image: url('../assets/parallax/Corporate.png');
    background-size: cover;
    height: 30%;
}

section {
    height: 100vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 500;

    background-color: #fff;
}

.card {
    width: 80%;
    margin: 20px;
    text-align: center;
    box-shadow: 0 1px 10px #000;

    font-family: Arial, Helvetica, sans-serif;
}
.card-top-border {
    height: 5px;
    width: 100%;
    background-color: #0083c1;
    /* background-color: #989665; */
}
.card-title {
    margin: 30px;
    font-size: 32px;
}
.card-text {
    margin: 30px;
    font-size: 20px;
    line-height: calc(20px * 1.6);
}

.section-1 {
    /* TODO: Remove if height is removed from section */
    height: auto;
    min-height: 100vh;
    justify-content: space-evenly;
}
img.umbrella {
    width: 90%;
    margin: 20px;
}

.section-2 {
    /* TODO: Remove if height is removed from section */
    height: auto;
    min-height: 100vh;
    justify-content: space-around;
}
img.handshake {
    width: 90%;
    margin: 20px;
}
.get-quote-container {margin: 30px;}
.get-quote {
    height: 75px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;

    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: 700;
    
    background-color: #0083c1;
    box-shadow: 0 1px 5px #000;
}


.section-3 { background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); }